{#
  Renders a single function() or macro().

  Rendered with `symbol` set, this fills that symbol's `pretty` field; without
  it, the same file serves as a whole document. Hence the dispatch at the
  bottom, and the body living in a macro so both paths can share it.
#}
{% macro required(r) %}
{%- if not r %}[{% endif %}
{{- caller() }}
{%- if not r %}]{% endif %}
{%- endmacro -%}

{% macro function(symbol) %}
{%- set has_params = symbol.doc.args or symbol.doc.options
                     or symbol.doc.params or symbol.doc.multi_params %}
## {{ symbol.name }}
{% if symbol.doc.deprecated %}
**Deprecated.**
{% endif %}
{{ symbol.doc.description }}

```
{{ symbol.name }}(
{%- for arg in symbol.doc.args %}
    <{{ arg.name }}>
{%- endfor %}
{%- for arg in symbol.doc.options %}
    {% call required(arg.required) %}{{ arg.name }}{% endcall %}
{%- endfor %}
{%- for arg in symbol.doc.params %}
    {% call required(arg.required) %}{{ arg.name }} <value>{% endcall %}
{%- endfor %}
{%- for arg in symbol.doc.multi_params %}
    {% call required(arg.required) %}{{ arg.name }} <value>...{% endcall %}
{%- endfor %}
{%- if has_params %}
{% endif %})
```
{% for arg in symbol.doc.args %}
* <**{{ arg.name }}**> {{ arg.description }}
{%- endfor %}
{%- for arg in symbol.doc.options %}
* **{{ arg.name }}** {{ arg.description }}
{%- endfor %}
{%- for arg in symbol.doc.params %}
* **{{ arg.name }} <value>** {{ arg.description }}
{%- endfor %}
{%- for arg in symbol.doc.multi_params %}
* **{{ arg.name }} <value>...** {{ arg.description }}
{%- endfor %}
{%- endmacro -%}

{% if symbol is defined %}
{{- function(symbol) }}
{%- else %}
{%- for symbol in symbols | documented %}
{{ function(symbol) }}
{%- endfor %}
{%- endif %}
